.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 180px;
    padding-right: 180px;
    height: 80vh;
}

.main-text {
    max-width: 50%;
    text-align: left;
}

.main-text button {
    background-color: brown; 
    color: white; 
    margin-right: 15px;
    height: 40px;
    padding: 0 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s, transform 0.2s; 
}

.main-text h1 {
    font-size: 4rem;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    word-break: break-word;
    margin-bottom: 10px;
}

.main-text h3 {
    font-size: 1.5rem;
    font-weight: normal;
}

.main-image img {
    height: 400px;
    width: auto;
}
